.main{
  position:absolute;
  left:33%;

}

.post{
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #aaaaaa;
  margin-bottom: 2%;
  width:120%;
}

.post-message{

}
