.html{
  background-color: lightblue;
}

.main{
  position:absolute;
  left:33%;

}

.post{
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: white;
  margin-bottom: 2%;
  width:100%;
}

.post-message{
  background-color: gray;
  margin-bottom: 2%;
  padding-bottom: 1%;
  padding-top: 1%;
  border-radius: 10px;
}
